
/*--------------------------------------------------------- MAIN HOME PANEL ----------------------------------------------------*/

#home_main {
    font-size: var(--theme-sfont-size); 
    background: var(--theme-bg-color);        
}

#home_main .sb_widget .sb_icon{
    display:none;
}     

#home_main .home_section {
}

/*-----------------------------------ELEMENTARY BUTTON-------------------------------------*/  

.elementor-row { 
    display: grid;
    margin-right: -10px;
    margin-left: -10px;    
}

/* --------------------   HOME FRONTPAGE PANEL --------------------------------*/

#maintracker {
    flex: none;
    height:200px;
}

#mainpanel_Chart {
    padding-left:3px;    

}


#home_main .assistant_panel .content .body{
    width: 100%;
    height:100%;
    position: absolute;
    overflow:hidden;
    border: 1px solid var(--theme-border-color);
    background: var(--theme-hover-bg-color) !important;
}

#home_main .assistant_panel .card-title {
    display: none;
}

#home_main #getstarted {
    padding-top:30px !important;
}

#home_main #tools {

}